<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/Header :: head(title='AdCategory view')">Category view</head>
<body>
<h1>Category view</h1>

<h2>Job advertisements</h2>


<div th:if="${not #lists.isEmpty(jobAdList)}">
    <div th:each =" jobAdvertisement : ${jobAdList}">
        <a th:text="${jobAdvertisement.getPositionName()}"></a>


    </div>

</div>



<form th:action="@{/createNewJobAdvertisement}" th:object="${newJobAdvertisement}" method="POST">
    <label>Add Job Advertisement:</label>
    <input type="text" th:field="*{positionName}">
    <input type="text" th:field="*{adText}">
    <input type="date" th:field="*{expirationDate}">
    <input type="submit" value="Create">
</form>
</body>
</html>