<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/Header :: head(title='Main view')">Main page</head>
<body>
<h1>main view</h1>

<h2>Advertisement categories</h2>

<div th:if="${not #lists.isEmpty(newAdCategoryList)}" >
    <div th:each =" category : ${newAdCategoryList}">
        <a href="ad_category_view"
           th:text="${category.getCategoryName()}"></a>
        <!--<a href="main_view.html"-->
           <!--th:href="@{'/singleList/' + ${newAdCategory}+ '/' + ${category.getCategoryName()}}"-->
           <!--th:text="${category.getCategoryName()}">-->
        <!--</a>-->
    </div>
</div>


<form th:action="@{/createNewAdCategory}" th:object="${newAdCategory}" method="POST">
    <label>Add Category name:</label>
    <input type="text" th:field="*{categoryName}">
    <input type="submit" value="Create">
</form>
</body>
</html>